{% extends "header.html" %}

{% block content %}
    <h2>Please tell Santa your wishes!</h2>
    <p><a href="{{ url_for('main.groups') }}">Back</a></p>
    <h4>
        Hi {{ username }}! You are invited to join the group {{ group }}<br>
        Please sign up before {{ close_date }} and the Secret Santa will be revealed on {{ reveal_date }}
    </h4>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.preference_first.label }}<br>
            {{ form.preference_first(cols="64", rows="5") }}<br>
            {% for error in form.preference_first.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.preference_second.label }}<br>
            {{ form.preference_second(cols="64", rows="5") }}<br>
            {% for error in form.preference_second.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.preference_third.label }}<br>
            {{ form.preference_third(cols="64", rows="5") }}<br>
            {% for error in form.preference_third.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}